header {
  text-align: center;

  h1 {
    background-color: var(--color-4);
    color: var(--color-primary);
    padding: var(--padding-lg) 0;
  }

  nav {
    background-color: var(--color-3);

    ul {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: var(--padding-md) 0;
      list-style: none;

      li {
        margin: 0 15px;
      }

      a {
        color: var(--color-primary);
        text-decoration: none;
        padding: var(--padding-sm) var(--padding-lg);
        font-size: var(--font-size-lg);

        &:hover {
          color: var(--color-secondary);
        }
      }
    }
  }
}
nav li:nth-child(2) {
  text-decoration: underline;
}
a.active {
  color: var(--color-accent);
  font-weight: bold;
}

@media (min-width: 640px) {
  header {
    text-align: left;

    h1 {
      padding: var(--padding-lg) var(--margin-main);
    }

    nav ul {
      gap: 1rem;
      padding: 0;
      flex-direction: row;
      justify-content: flex-start;
      padding: var(--padding-md) var(--margin-main);

      li {
        padding: 0;
        margin: 0;
        border-bottom: none;
      }

      a {
        padding: 0;
      }
    }
  }
}
@media (min-width: 768px) {
  header h1 {
    font-size: var(--font-size-subheading);
  }
}
@media (min-width: 1024px) {
  header h1 {
    font-size: var(--font-size-heading);
  }
}
