section {
  margin: var(--margin-main);
}

img {
  width: 100%;
  border-radius: var(--margin-small);
  margin: 20px 0;
}

ul li {
  list-style: none;
  font-size: var(--font-size-md);
  color: var(--color-accent);
  padding-left: var(--margin-main);
  padding-top: var(--margin-small);
  cursor: default;
  margin: 10px 0;
}

blockquote {
  background-color: var(--color-compl-2);
  padding: 20px;
  margin-top: 20px;

  p {
    font-size: var(--font-size-sm);
    color: var(--color-primary);
  }
  .author {
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
  }
}
