.homepage_main {
  margin: var(--margin-large) auto;
  max-width: 1300px;
}
section {
  margin: 0 var(--margin-main);
  gap: 1rem;
}

img {
  width: 100%;
  border-radius: var(--margin-small);
  margin: var(--margin-small) 0;
}

ul li {
  list-style: none;
  font-size: var(--font-size-md);
  color: var(--color-4);
  font-weight: 500;
  padding-left: var(--margin-main);
  cursor: default;
  margin: 10px 0;
}

.text-content p {
  color: var(--color-3);
}

blockquote {
  background-color: var(--color-accent);
  padding: var(--padding-md);

  p {
    font-size: var(--font-size-sm);
    color: var(--color-3);
  }
  .author {
    text-align: right;
    font-weight: 600;
    margin-top: var(--padding-sm);
  }
  @media (min-width: 640px) {
    .author {
      text-align: left;
      padding-left: var(--padding-lg);
    }
  }
}
@media (min-width: 640px) {
  .section_homepage {
    display: flex;
    flex-direction: row;
    gap: var(--padding-md);
    align-items: flex-start;
    margin-bottom: var(--margin-main);

    img {
      max-width: 50%;
      margin-right: auto;
      order: 3;
    }
    .text-content {
      margin: var(--margin-small) 0;
      order: 1;
      flex: 1;
    }
  }
}
@media (min-width: 768px) {
  .text-content p {
    font-size: var(--font-size-md);
  }
}
@media (min-width: 1024px) {
  .homepage_main {
    margin: 0 8rem;
  }
  .section_homepage img {
    width: 50%;
  }
}
