@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-main: Arial, Helvetica, sans-serif;
  --font-raleway: "Raleway", sans-serif;

  --font-size-xs: 0.5rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.5rem;
  --font-size-subheading: 2rem;
  --font-size-heading: 3rem;

  --color-bg-main: snow;
  --color-primary: #8c5511;
  --color-secondary: #bf861b;
  --color-accent: #99b4bf;
  --color-3: #252617;
  --color-4: #d97904;
  --color-5: #4a7b8c;
  --color-6: #f2d27f;

  --color-compl-1: #40593c;
  --color-compl-2: #2d402a;
  --color-compl-3: #1a2618;
  --color-compl-4: #f2d399;

  --color-green-1: #ebf2eb;
  --color-green-2: #86a6a0;
  --color-green-3: #397368;
  --color-green-4: #14594c;
  --color-green-5: #01261f;

  --margin-tiny: 0.1rem;
  --margin-small: 0.5rem;
  --margin-main: 1rem;
  --margin-large: 1.25rem;
  --margin-xl: 1.875rem;
  --margin-xxl: 2.5rem;

  --padding-xs: 0.1rem;
  --padding-sm: 0.5rem;
  --padding-md: 1rem;
  --padding-lg: 1.25rem;
  --padding-xl: 1.875rem;
  --padding-xxl: 2.5rem;
}
